<div class="container">
	<div class="col-md-12">
		<div id="map"></div>
		<div id="districtTooltip"></div>
	</div>
</div>
@section scripts {
	<script>
		var map;
		var mapDataUrl = '@Url.Content("~/Assets/AL-SchoolDistricts-GeoJson-hires.js")';


		function initGoogleMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: { lat: 32.3783809, lng: -86.2995041 },
				zoom: 7
			});

			map.data.loadGeoJson(mapDataUrl);

			// Set the global styles.
			map.data.setStyle({
				fillColor: '#FFCC33',
				strokeWeight: 1,
				strokeOpacity: 0.4
			});

			// When the user hovers, change the color.
			// Call revertStyle() to remove all overrides. This will use the style rules
			// defined in the function passed to setStyle()
			map.data.addListener('mouseover', function (event) {
				map.data.revertStyle();
				map.data.overrideStyle(event.feature, { fillColor: '#9999FF' });
			});

			map.data.addListener('mouseout', function (event) {
				map.data.revertStyle();
			});

			// When the user clicks, set 'isColorful', changing the color of the letters.
			map.data.addListener('click', function (event) {
				//event.feature.setProperty('isColorful', true);
				var districtName = event.feature.getProperty('NAME');
				$('#districtTooltip').text(districtName);
				districtTooltip.show($(event.feature));
			});
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByykZ14hov5xWKdNyL7rF_D64h9M3gd0M&callback=initGoogleMap"
			async defer></script>
}
