@{
	var port = Request.Url.Port != 80 ? ":" + Request.Url.Port.ToString() : "";
	var baseUrl = Request.IsSecureConnection ? "https://" : "http://" + Request.Url.Host + port;
	var apiRoot = VirtualPathUtility.ToAbsolute("~/api");
	var apiUrl = baseUrl + apiRoot;
	var shapeUrl = apiUrl + "/MapData";
}
<div class="row">
    <div class="col-md-12">
        <div id="mapContainer"></div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/App/map.js"></script>
    <script type="text/javascript">
    $(function () {
        initMap('@shapeUrl');
    });
    </script>
}
