<div class="row">
    <div class="col-md-12">
        <div id="mapContainer"></div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/App/map.js"></script>
    <script type="text/javascript">
    $(function () {
        initMap('@Url.Content("~/Assets/tl_2015_01_unsd")');

	});
    </script>
}
